body {
	margin: 0;
}
.container {
	background-color: black;
	color: gold;
}
.intro {
	text-align: center;
	margin-bottom: 80px;
}
.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 66px;
    padding-bottom: 10;
	z-index: 9999;
}
.header .logo img{
	width: 230px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .social {
    padding-left: 30px;
    display: flex;
}
.header .social a {
    margin-left: 10px;
    display: inline-block;
}

.menu {
	font-size: 20px;
    display: flex;
}
.menu a {
	margin-left: 45px;
	color: #000;
    text-decoration: none;
	background-color: gold;
	font-weight: bold;
	border-radius:50%;
	width: 60px;
    text-align: center;
	padding-top: 5px;
	padding-top: 7px;
}
.exchange {
	width: 100%;
}
#services {
    align-items: flex-start;
}
#services img {
    width: 200px;
}
.contents {
    padding-top: 150px;
    padding-bottom: 30px;
    width: 80%;
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.content {
    margin-bottom: 50px;
}
@media screen and (min-width: 800px) {
    .content {
        display: flex;
        justify-content: space-between;
    }
    .image-container img {
        width: 400px;
        transform: scale(1);
    }
    .content .content-text {
        padding-left: 40px;
		padding-right: 30px;
    }
    .wrapper {
        width: 40%;
    }
}
#partners .images-wrapper div {
    padding: 0 20px;
    margin-bottom: 20px;
}
#partners img {
    width: 100%;
}
@media screen and (min-width: 600px) {
    #branches ul {
        display: flex;
        justify-content: space-between;
    }
    #partners .images-wrapper {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 800px) {
    .header .logo{
        width: 50%;
    }
    .menu {
        margin-right: 15px
    }
    .image-container img {
        width: 100%;;
    }
}

@media screen and (max-width: 600px) {
    .header {
        height: 108px;
    }
    .header .social {
        padding-left: 15px;
    }
    .header-content {
        flex-wrap: wrap;
    }
    .content {
        flex-direction: column;
    }
    .content img {
        width: 100%;
    }
    .menu {
        width: 100%;
        order: 1;
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }
    .menu a {
        margin-left: 0;
    }
    .header .logo img{
        width: 100%;
    }
}
.content h2 {
    margin-top: 0;
}
.image-container:hover img {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}
#branches ul {
    list-style: none;
    padding-right: 0;
}
#branches ul li a {
    text-decoration: none;
    display: block;
    color: #007cc3;
}
#branches ul li a:hover {
    text-decoration: underline;
    color: #203d6e;
}
.fa-map-marker,
.fa-phone,
.fa-mobile {
    padding-left: 10px;
}
.fa-mobile {
    font-size: 26px !important;
}
.footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fecf29;
}
/* .slick-initialized .slick-slide {
    height: auto;
    display: block;
}
.wrapper {
    padding-top: 20px;
}
.slick-slide {
    margin: 0 10px;
}
.slick-slide img {
    width: 100%;
}
.wrapper .slick-dots li button:before {
    color: #000;
} */
.slick-prev:before, 
.slick-next:before {
    color: #000 !important;
}

.slider{
    width:400px;
    margin:20px auto;
    text-align: center;
    padding:20px;
  }
  .slider img {
    display: block;
    margin:auto;
  }